<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel=stylesheet type=text/css href="{{url_for('static',filename='bootstrap.min.css')}}">
	<link rel=stylesheet type=text/css href="{{url_for('static',filename='styles.css')}}">

	<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
	</script>
	<script src="//apis.google.com/js/platform.js?onload=start"> </script>
	<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
<!--FACEBOOK SIGN IN -->
<script>
	window.fbAsyncInit = function() {
	FB.init({
	  appId      : '807500942758880', // { YOUR_APP_ID_HERE }
	  cookie     : true,  // enable cookies to allow the server to access
	                      // the session
	  xfbml      : true,  // parse social plugins on this page
	  version    : 'v2.2' // use version 2.2
	});
	};
	// Load the SDK asynchronously
	( function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js";
	  fjs.parentNode.insertBefore(js, fjs);
	} (document, 'script', 'facebook-jssdk')
	);
  </script>
  <!--FACEBOOK SIGN IN -->
</head>
<body>
<div class="container-fluid header">
	<div class="container">

		<div class="header-title">
			<a href="{{url_for('showCatalog')}}">Catalog App</a>
		</div>

		<div class="header-login">
<!-- 			<form action="#" method="post">
				<button type="button">Login</button>
			</form>
 -->		</div>

	</div>
</div>
{% block content %}
{% endblock %}
</body>
</html>
