{% extends "base.html" %}

{% block content %}

<div class="container content">

	<div class="content-info-section">
		<div class="info-title list-title">New Item</div>
		<div class="info-content">
		</div>
	</div>

	<div class="content-crud-section">
		<form action="{{url_for('newCategoryItems')}}" method='post'>

			<h5>Title :</h5>
			<input type='text' size='30' name='name'>
			<br><br>
			<h5>Description :</h5>
			<input type='text' size='30' name='description'>
			<br><br>
			<h5>Category :</h5>
			<select name='category'>
			{% for c in categories %}
				<option value='{{c.name}}'>{{c.name}}</option>
			{% endfor %}
			</select>
		<br><br><br>
		<input type='submit' value='Submit'>
		<a href="{{url_for('showCatalog')}}">Cancel</a>
		</form>

	</div>

</div>

{% endblock %}
